<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styleContact.css">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
            integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
            crossorigin="anonymous"
    />
    <title>Contact-us</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
        :root {
            --bluedark-color: #0B3954;
            --blueclair-color: #bfd7ea;
            --red-color: #EC0B43;
            --yellow-color: #e0ff4f;
            --white-color: #fff;
        }
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        body {
            font-family: 'Raleway', sans-serif;
            line-height: 1.6;
        }


        /********** Contact-us page*********/
        #contact-us {
            width: 80%;
            margin: 0 auto;
            display: flex;
        }
        .contact-form > h2 {
            font-family: 'Dancing Script', cursive;
            font-size: 3em;
            padding: 40px 0;
            color: turquoise;
            font-weight: bold;
        }
        .contact-form {
            width: 50%;
            padding: 0 50px;
        }
        input[type=text], textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 6px;
            margin-bottom: 12px;
        }
        input[type=submit] {
            font-size: 20px;
            background-color: turquoise;
            color: var(--white-color);
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }
        input[type=submit]:hover{
            background-color: var(--bluedark-color);
        }
        .map {
            width: 50%;
        }
        iframe {
            display: block;
            margin: auto;
        }
        .map > h4 {
            margin-top: 150px;
            margin-bottom: 20px;
            padding-left: 30px;
            font-size: 24px;
            font-weight: 500;
        }
        /********** Footer *********/


        /********** Media Query ***********/
        @media only screen and (max-width: 425px) {

            .hamburger {
                display: block;
                cursor: pointer;
            }
            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }

            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
            #contact-us {
                width: 100%;
                display: block;
            }
            .contact-form, .map {
                width: 100%;
            }
            .map > h4 {
                margin-top: 120px;
            }
            iframe {
                width: 80%;
            }
        }</style>
</head>
<body>
<div id="contact-us">
    <div class="contact-form">
        <h2>Contact us</h2>
        <form>
            <label for="firstName">Name* :</label>
            <input type="text" id="firstName" name="firstName" placeholder="Name" >
            <label for="email">Email* :</label>
            <input type="text" id="email" name="email" placeholder="Email">
            <label for="message">Message :</label>
            <textarea name="message" id="message" cols="30" rows="10" ></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="map">
        <h4 style=" font-family: 'Dancing Script', cursive;
            color: black;
            font-weight: bold;">Find us here</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.241963950097!2d4.824980115158676!3d45.74629492259734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea4ac9e1fd2f%3A0xabc36e768b27c9a0!2sWild%20Code%20School%20-%20Training%20D%C3%A9veloppeur%20Web%20%26%20Data%20Analyst!5e0!3m2!1sen!2sfr!4v1637687645975!5m2!1sen!2sfr" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>



</body>
</html>
