{# TODO : manage errors display #}
{% block header%}
	{% include 'Item/header.html.twig' %}

{% endblock %}
<form method="post">

	<input type="hidden" value="{{ item.id }}" name="id">
    <label for="">User name</label>
    <input type="text" value="{{ item.user_name }}" name="user_name">

	<input type="submit" value="Valider">
</form>


