
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="/../assets/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
</head>
<body>
<section class="h-100 gradient-form" style="background-color: #eee;">
    <img class="bg-img " src="https://images.assetsdelivery.com/compings_v2/ghenadie/ghenadie1606/ghenadie160600038.jpg" alt="" height="600" width="100%">
<div>
    <div class="container  card-img-overlay card-inverse "style="margin-top: 30px;margin-left: 20px;margin-right: 30px;">
        <div class="row d-flex   "style="padding: 50px;width: 1500px;">

                        <div class="col-lg-6"style="margin-top: 140px;">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-4" >
                                        <div class=" d-none d-lg-block justify-content-left align-items-left"><!--animated image1-->
                                        <img width="200" height="200" src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/07/Blue.gif" class="elementor-animation-grow-rotate attachment-large size-large " alt="" loading="lazy">
                                    </div>
                                        </div>
                                        <div class="col-sm-8">
                                    <div class=" d-none d-lg-block justify-content-left align-items-left"style="margin-left: 0px;">
                                        <img width="200" height="200" src="https://jackboxgames.b-cdn.net/wp-content/uploads/2019/07/Red.gif" class="attachment-large size-large elementor-animation-grow-rotate " alt="" loading="lazy">
                                    </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
            <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4" style="text-shadow:#bbbbbb;margin-top: 100px">

                    <div class="text-center ">
                        <div class="d-none d-lg-block d-flex justify-content-center align-items-center ">
                            <div class="text-white">

                                <div class=" align-items-left" ><h1 style=" font-size: 60px;margin-left: 0;margin-right: 0">Welcome to Shortlist</h1></div>
                                <div class="d-flex align-items-center justify-content-center pb-4"style="margin-top: 70px">
                                    <button type="button" class="btn btn-outline-danger" style="color:black;background-color: orangered;font-size: 40px">Play Game</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>
