{% extends 'layout.html.twig' %}

{% block title %}Welcome to {{ parent() }} ! {% endblock %}
{% block content %}
<section id="welcome-block">
<div class="row">
    <div class="col-lg-6 left-block">
        <h1 class="slogan">Which movie tonight ?</h1>
            <div >
                <button type="button" class="play btn btn-primary btn-lg"><i class=" play-icon fab fa-youtube"></i>Play</button>
            </div>
    </div>
    <div class="col-lg-6">
        <img class="welcome-img" src="/assets/images/popcorn.jpg" alt="image cinema">
    </div>
</div>
</section>

<section id="game-rules-block">
    <div class="logo-blue">
        <a class="navbar-brand" href="/">
            <img class="nav-logo" src="/assets/images/logo-rules.png" alt="Shortlist logo" width="140">
        </a>
    </div>

    <div class="row">
        <div class="rule-item col-lg-3">
            <i class="rule-icon far fa-user-circle fa-4x"></i>
            <h3 class="sub-title">Log in</h3>
            <p class="description-rules">You should Sign In at first to play the game. If you're visiting our site first time, please Sign Up.</p>
        </div>
        <div class="rule-item col-lg-3">
            <i class="rule-icon far fa-check-circle fa-4x"></i>
            <h3 class="sub-title">Choose</h3>
            <p class="description-rules">Answer 8 questions. Choose only one response among 4. Please trust your current mood.</p>
        </div>
        <div class="rule-item col-lg-3">
            <i class="rule-icon far fa-play-circle fa-4x"></i>
            <h3 class="sub-title">Watch trailer</h3>
            <p class="description-rules">The most relevant genre of the movie is chosen based on your answers. Enjoy the film trailer!</p>
        </div>
        <div class="rule-item col-lg-3">
            <i class="rule-icon far fa-save fa-4x"></i>
            <h3 class="sub-title">Save</h3>
            <p class="description-rules">Save the video trailer.  You'll be able to find it in your Watchlist further on.</p>
        </div>
    </div>
</section>
{% endblock %}
