<section id="welcome-block">

    <div class="row">

        <div class="col-lg-6 left-block">
            <h1 class="slogan">Which movie this night ?</h1>
            <button type="button">Play</button>
        </div>

        <div class="col-lg-6">
            <img class="welcome-img" src="/assets/images/popcorn.jpg" alt="image cinema">
        </div>


    </div>

</section>
