<section id="welcome-block">

    <div class="row">

        <div class="col-lg-6 left-block">
            <h1 class="slogan">Which movie tonight ?</h1>
                <div >
                <button type="button" class="play btn btn-primary btn-lg"><i class=" play-icon fab fa-youtube"></i>Play</button>
                </div>
        </div>

        <div class="col-lg-6">
            <img class="welcome-img" src="/assets/images/popcorn.jpg" alt="image cinema">
        </div>


    </div>
</section>

