{% extends 'layout.html.twig' %}

{% block title %}Result{% endblock %}

{% block content %}
<div style=" color: var(--white);">

</div>
    <section id="watchlist-block">
        <div class="col-md-6 watchlist-container">
            <div class="watchlist-card card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Leon</h4>
                </div>
                <div class="card-body">
                    <div class="col-lg-12 wow fadeIn d-block video-container">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{ trailer }}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="description-watchlist">A Professional assassin rescues a teenage girl whose parents were killed
                            in a police raid. With Jean Reno, Gary Oldman and Natalie Portman.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
