

.gradient-custom-3 {
    /* fallback for old browsers */
    background: var(--dark-bckg);
    /* Chrome 10-25, Safari 5.1-6 */
}

.card {
    background-color: var(--light-blue);
    border-radius: 30px;
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: gray;

    /* Chrome 10-25, Safari 5.1-6 */
    background: gray;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: gray;
}
