.container {
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
}
.contact-form{
    background-color: var(--light-blue);
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.signUp-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--white);
}
.contact-form .form-control{
    border-radius:1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.contact-image{
    text-align: center;

}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);

}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: var(--white);
    font-weight: bold;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: var(--blue);
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
}

