:root {
    --dark-bckg: #201F24;
    --blue: #265485;
    --accent: #DE393F;
    --white: #fdfdff;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
}

body {
    background-color: var(--dark-bckg);
}
