.watchlist-container {
    padding-left: 1%;

}
.watchlist-title-container {
    padding: 5% 1%;
}

.watchlist {
    color: var(--white);

}

li {
    font-size: 0.8rem;
}

.btn {
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

.delete:hover {
    background-color: var(--accent);
}




