
#footer {
font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-bckg);
    color: var(--white);
    padding: 0 5%;
}

.footer-top {
   justify-content: space-evenly;
    }

h6 {
    padding-top: 17px;
}

.footer-item-1 {
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
    }

.footer-item-2 {
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
}

.footer-item-3 {
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
}


.sign {
    font-size: 1rem;
    font-weight: bold;
}

span {
    font-size: 1rem;
    padding: 0px 5px;
}

h6 {
    font-size: 1rem;
    margin-bottom: 4%;
    }

.follow-us {
    margin-left: 7%;
    text-align: left;
}

.social-media {
    width: 30%;
    padding-bottom: 5%;
}

.link-social:hover {
    filter: grayscale(100%);
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--accent);
}

.copyright {
    margin-bottom: 1%;
    font-size: 0.7rem;
}

.terms {
    font-size: 0.7rem;
}

@media only screen and (max-width: 360px) {

    .follow-us {
        margin-left: 0%;
        text-align: center;
    }

    h6 {
        margin-bottom: 2%;
    }

    .social-media {
        width: 20%;
        padding-bottom: 5%;
    }
}

@media only screen and (max-width: 990px) {
    .social-media {
        width: 20%;
    }
}

@media only screen and (min-width: 360px) {
    .follow-us {
        margin-left: 0%;
        text-align: center;
    }
}



