{# second look #}

{# TODO : manage errors display #}

<form calss="user-form" method="post">
	<input type="hidden" value="{{ user.id }}" name="id">

	<label class="user-form-label" for="user_name">user name</label>
	<input type="text" id="user_name" value="{{ user.user_name }}" name="user_name">

	<label class="user-form-label" for="email">e-mail</label>
	<input type="email" id="email" value="{{ user.email }}" name="email">

	<label class="user-form-label" for="password">password</label>
	<input type="password" id="password" value="{{ user.passowrd }}" name="passowrd">

	<input type="submit" value="Edit">


</form>


