{# no need for this file #}
{% extends 'layout.html.twig' %}

{% block content %}
    <h1 style="color: white;">PUT THIS AWAY Add a new user name</h1>
    {% include 'User/_form.html.twig' %}
{% endblock %}
