<nav class="navbar navbar-expand-xl navbar-dark " >
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="nav-logo" src="/assets/images/logo-squere-sm.png" alt="Shortlist logo" width="120">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse show" id="navbarsExample03" style="">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">

                <li class="nav-item">
                    <a class="nav-link" href="/game?answer=start">Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#game-rules-block" tabindex="-1" aria-disabled="true">How to Play</a>
                </li>

            </ul>

            <!--  Sign In |  Sign Up-->
            <!--  Display:none; when user is loged in-->

            <ul class=" sign-container navbar-nav ">
                {% if (email != null)%}
                 <li class="sign-list nav-item">
                    <a class="sign nav-link " aria-current="page" href="/signout">Sign Out</a>
                 </li>
                {% else %}
                <li class="sign-list nav-item">
                    <a class="sign nav-link " aria-current="page" href="/login">Sign In</a>
                </li>

                  <li class="sign-list nav-item">
                      <a class="sign nav-link " aria-current="page" href="/signUp/add">Sign Up</a>
                     </li>
                {% endif %}
            </ul>

            <!--  Second MENU on the RIGHT -->
            <!--  Display: none; when user is Loged Out-->

            <nav class=" right-menu navbar navbar-expand-xl navbar-dark " >
            <div class="container">
                <div class="navbar-collapse collapse show" id="navbarsExample03" style="">
                    <ul class="navbar-nav ml-auto mb-2 mb-sm-xl-0">
                        <li class="right-nav-item nav-item">
                            <a class="menu nav-link " aria-current="page" href="/user/films">Your Watchlist</a>
                        </li>
                        <li class="right-nav-item nav-item">
                            <a class="menu nav-link" href="/user/profile">Profile Settings</a>
                        </li>
                        <li class="right-nav-item nav-item">
                            <div class="container-fluid text-right">
                                {% if(email!=null)%}
                                <i class="fas fa-user-circle  fa-3x" ></i>
                               {% else %}
                                Hello Wilder!
                                {% endif%}

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            </nav>
       </div>
   </div>
</nav>
